@import '~purecss/build/pure.css';

@mixin all-user-select($value) {
    -webkit-user-select: $value;  /* Chrome all / Safari all */
    -moz-user-select: $value; /* Firefox all */
    -ms-user-select: $value; /* IE 10+ */
    user-select: $value; /* Likely future */
}

@font-face {
    font-family: 'Arvo';
    font-display: auto;
    src: local('Arvo'), url(https://fonts.gstatic.com/s/arvo/v9/rC7kKhY-eUDY-ucISTIf5PesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
}
  
body {
    @include all-user-select(none);
    background-color: rgb(252, 247, 241);
    color: #555;
    font-family: Arvo;
}

body, header, footer, menu, section, p, ul {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, li, p, span {
    @include all-user-select(text);
}

button {
    font-family: Arvo;
}
